{% extends 'customer/base.html.twig' %}

{% set whithoutFooter = true %}
{% set whithoutHeader = true %}
{% set bodyBackgroundClass = 'bg-[#9a35ff]' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center justify-center h-screen">
            <div class="sm:w-[22rem] mx-auto text-center">
                <p class="text-white font-ubuntu font-bold text-5xl pb-16">Sign up</p>

                <div class="flex flex-col space-y-3">
                    <button tabindex="0" type="button" class="w-full font-medium bg-white hover:bg-gray-200 focus:bg-gray-200 shadow-md shadow-[#6700BC] focus:outline-none rounded-md py-2.5 text-center flex items-center justify-center space-x-1.5">
                        <img src="https://static.vecteezy.com/system/resources/previews/012/871/371/original/google-search-icon-google-product-illustration-free-png.png" alt="Google icon" class="w-4 h-4 object-cover">
                        <span>Continue with Google</span>
                    </button>
                    <a href="{{ path('connect_facebook_check') }}" tabindex="0" type="button" class="w-full font-medium bg-white hover:bg-gray-200 focus:bg-gray-200 shadow-md shadow-[#6700BC] focus:outline-none rounded-md py-2.5 text-center flex items-center justify-center space-x-1.5">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/1024px-2021_Facebook_icon.svg.png" alt="Facebook icon" class="w-4 h-4 object-cover">
                        <span>Continue with Facebook</span>
                    </a>
                </div>

                <hr class="bg-[#E7D6F8] mx-2.5 h-0.5 my-9">

                {{ form_start(sign_up_form) }}

                <div class="flex flex-col space-y-3">
                    {{ form_widget(sign_up_form.email) }}
                    <input type="hidden" id="check-email-url" data-url="{{ path('customer_sign_up_check_email_availability') }}">
                    <div id="email-info" class="hidden text-center text-sm font-medium text-[#f5989a]"></div>

                    <div class="relative">
                        {{ form_widget(sign_up_form.plainPassword) }}
                        <i id="view-password" class="icon-eye-close absolute inset-y-0 right-0 flex items-center pr-4 text-white text-lg"></i>
                    </div>
                    <div id="password-info" class="text-center text-sm font-medium text-[#C4C4C4]">You must enter at least 8 characters with at least one number and one uppercase letter</div>
                </div>
                {{ form_widget(sign_up_form.submit) }}

                {{ form_end(sign_up_form) }}

                <div class="font-lato text-white flex items-center justify-center space-x-2">
                    <span>Already registered?</span>
                    <a href="{{ path('customer_sign_in') }}" class="font-bold uppercase hover:underline focus:underline focus:outline-none">SIGN IN</a>
                </div>
            </div>
            <div class="sm:w-[40rem] pt-12 font-lato text-center px-4">
                <span class="text-[#C4C4C4] font-regular">In order to sign up, you will need to accept Gengemz’s</span><a href="#" class="pl-1 text-white font-bold hover:underline focus:underline focus:outline-none">Terms & Conditions</a><span class="pl-1 text-[#C4C4C4] font-regular">and</span><a href="#" class="pl-1 text-white font-bold  hover:underline focus:underline focus:outline-none">Privacy Policy</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app/styles/customer/auth/sign/sign-up.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const passwordMinCharacters = {{ constant('App\\Entity\\User::PASSWORD_MIN_CHARACTERS') }};
        const passwordMaxCharacters = {{ constant('App\\Entity\\User::PASSWORD_MAX_CHARACTERS') }};
    </script>
    <script src="{{ asset('build/app/js/customer/auth/sign-up.js') }}" defer></script>
{% endblock %}
