{% extends 'customer/base.html.twig' %}

{% block title %}{{ list.name|capitalize }} list{% endblock %}

{% block content %}
    <div class="container mx-auto my-10">
        <div class="" id="content-section">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-row items-center">
                    <a href="{{ path('customer_user_lists') }}" class="back-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" viewBox="0 0 512 512"><title>ionicons-v5-a</title><polyline points="249.38 336 170 256 249.38 176" style="fill:none;stroke:#7D00E2;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></polyline><line x1="181.03" y1="256" x2="342" y2="256" style="fill:none;stroke:#7D00E2;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></line><path d="M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z" style="fill:none;stroke:#7D00E2;stroke-miterlimit:10;stroke-width:32px"></path></svg>
                    </a>
                    <div class="flex flex-col ml-2">
                            <p class="text-lg font-ubuntu font-bold text-disabled-gray">List to display:</p>
                            <div class="flex justify-left items-center">
                                <p class="text-xl font-ubuntu font-bold text-purpleggz mr-2 uppercase">{{ list.name }}</p>
                                <div class="mt-1">
                                    <svg width="20" height="20" fill="none" stroke="#7D00E2" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                                    </svg>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="flex justify-right items-center">
                    <p class="text-xl font-ubuntu font-bold text-purpleggz mr-3">View</p>
                    <svg width="30" height="30" fill="#969696" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M3 6a3 3 0 013-3h2.25a3 3 0 013 3v2.25a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm9.75 0a3 3 0 013-3H18a3 3 0 013 3v2.25a3 3 0 01-3 3h-2.25a3 3 0 01-3-3V6zM3 15.75a3 3 0 013-3h2.25a3 3 0 013 3V18a3 3 0 01-3 3H6a3 3 0 01-3-3v-2.25zm9.75 0a3 3 0 013-3H18a3 3 0 013 3V18a3 3 0 01-3 3h-2.25a3 3 0 01-3-3v-2.25z"></path>
                    </svg>
                    <svg width="30" height="30" fill="#7D00E2" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z"></path>
                    </svg>
                    <svg width="30" height="30" fill="#969696" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path clip-rule="evenodd" fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"></path>
                    </svg>
                </div>
            </div>
            <div class="container mx-auto">
                <div class="custom-full-width">
                    <div class="flex flex-row">
                        <button type="button" class="flex w-1/4 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 items-center">
                            <div class="flex flex-row items-center justify-center">
                                <p class="pl-1 font-ubuntu text-disabled-gray text-base">Quick search...</p>
                            </div>
                        </button>
                        <button id="dropdownDefaultButton2" data-dropdown-toggle="dropdown-editions2" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                            <div class="flex flex-col justify-left w-full">
                                <p class="font-ubuntu text-sm font-bold text-disabled-gray">PLATFORM</p>
                                <p class="font-ubuntu text-md text-black-text">All</p>
                            </div>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-editions2" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                            <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                            </li>
                            </ul>
                        </div>
                        <button id="dropdownDefaultButton3" data-dropdown-toggle="dropdown-editions3" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                            <div class="flex flex-col justify-left w-full">
                                <p class="font-ubuntu text-sm font-bold text-disabled-gray">DEVELOPER</p>
                                <p class="font-ubuntu text-md text-black-text">All</p>
                            </div>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-editions3" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                            <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                            </li>
                            </ul>
                        </div>
                        <button id="dropdownDefaultButton4" data-dropdown-toggle="dropdown-editions4" class="text-left flex-1 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                            <div class="flex flex-col justify-left w-full">
                                <p class="font-ubuntu text-base font-bold text-disabled-gray">Advanced filters</p>
                            </div>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdown-editions4" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                            <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                            </li>
                            </ul>
                        </div>
                        <button id="dropdownDefaultButton5" data-dropdown-toggle="dropdown-editions5" class="text-left flex-shrink-0 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                            <div class="flex flex-col justify-left w-full">
                                <p class="font-ubuntu text-sm font-bold text-disabled-gray">PER PAGE</p>
                                <p class="font-ubuntu text-md text-black-text">-</p>
                            </div>
                        </button>
                        <button id="multipleSelection" data-dropdown-toggle="dropdown-multipleSelection" class="text-left flex-shrink-0 ml-1 mt-4 py-2.5 px-5 mr-2 mb-2 text-xl font-ubuntu font-bold focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200 focus:bg-[#EEE8F1]" type="button">
                            <svg width="40" height="40" fill="#CCCCCC" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path d="M3.196 12.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 12.87z"></path>
                            <path d="M3.196 8.87l-.825.483a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.758 0l7.25-4.25a.75.75 0 000-1.294l-.825-.484-5.666 3.322a2.25 2.25 0 01-2.276 0L3.196 8.87z"></path>
                            <path d="M10.38 1.103a.75.75 0 00-.76 0l-7.25 4.25a.75.75 0 000 1.294l7.25 4.25a.75.75 0 00.76 0l7.25-4.25a.75.75 0 000-1.294l-7.25-4.25z"></path>
                            </svg>
                        </button>
                        <div id="dropdown-multipleSelection" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700">
                            <ul class="py-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Physical Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">Digital Edition</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 hover:bg-[#F5EBFD] dark:hover:bg-gray-600 dark:hover:text-white">All</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
                        <table class="w-full text-md font-lato text-left text-black-text">
                            <thead class="text-md text-purpleggz2 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        <input type="checkbox" id="headerCheckbox" class="form-checkbox h-5 w-5 text-purpleggz2 focus:ring-purpleggz2 border-4 border-disabled-gray rounded">
                                    </th>
                                    <th scope="col" class="py-3">
                                    </th>
                                    <th scope="col" class="pr-6 py-3">
                                        <span class="pr-1">Name</span>
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Platform
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Developer
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Year
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Date added
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for edition in editions %}
                                <tr class="bg-white border-b hover:bg-[#F5EBFD]">
                                    <th scope="row" class="px-6 py-4 font-semibold text-black-text whitespace-nowrap dark:text-white">
                                        <input type="checkbox" class="form-checkbox h-5 w-5 text-purpleggz2 focus:ring-purpleggz2 border-4 border-disabled-gray rounded select-row">
                                    </th>
                                    <td class="py-4">
                                        <img src="{{ asset(edition.getPicturePath) }}" style="width: 70px; height: 94.32px;" class="object-contain">
                                    </td>
                                    <td class="pr-6 py-4">
                                        <div class="flex flex-col">
                                            <span class="font-lato text-lg font-bold text-black-text">{{ edition.name }}</span>
                                        </div>
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ edition.platform.name }}
                                    </td>
                                    <td class="px-6 py-4">
                                        $2999
                                    </td>
                                    <td class="px-6 py-4">
                                        $2999
                                    </td>
                                    <td class="px-6 py-4">
                                        $2999
                                    </td>
                                    <td class="px-3 py-4 text-center">
                                        <button id="dropdownDefaultButton2" data-dropdown-toggle="dropdown-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="26" width="26" class="mx-auto" fill="#7D00E2">
                                                <path d="M368,168H272V104H448a24.027,24.027,0,0,0,24-24V16H440V72H264a24.027,24.027,0,0,0-24,24v72H144A128.145,128.145,0,0,0,16,296V396.953A91.15,91.15,0,0,0,107.047,488h1.8A90.807,90.807,0,0,0,178.8,455.24l52.7-63.24h48.628l52.666,68.465A91.046,91.046,0,0,0,496,404.953V296A128.145,128.145,0,0,0,368,168Zm96,236.953a59.047,59.047,0,0,1-105.849,36L295.878,360H216.506l-62.294,74.754A58.893,58.893,0,0,1,108.85,456h-1.8A59.113,59.113,0,0,1,48,396.953V296a96.108,96.108,0,0,1,96-96H368a96.108,96.108,0,0,1,96,96Z" class="ci-primary"></path>
                                                <rect width="32" height="32" x="360" y="248" class="ci-primary"></rect>
                                                <rect width="32" height="32" x="360" y="328" class="ci-primary"></rect>
                                                <rect width="32" height="32" x="320" y="288" class="ci-primary"></rect>
                                                <rect width="32" height="32" x="400" y="288" class="ci-primary"></rect>
                                                <polygon points="152 248 120 248 120 288 80 288 80 320 120 320 120 360 152 360 152 320 192 320 192 288 152 288 152 248" class="ci-primary"></polygon>
                                            </svg>
                                        </button>
                                        <!-- Dropdown menu -->
                                        <div id="dropdown-icon-1" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-80 dark:bg-gray-700 text-left">
                                            <ul class="pb-2 font-lato text-lg text-black-text" aria-labelledby="dropdownDefaultButton">
                                                <!-- Add header list item -->
                                                <li class="cursor-default">
                                                    <a class="block font-lato bg-[#F7F7F7] px-4 py-2 text-black-text pointer-events-none">This item is included in:</a>
                                                </li>
                                                <li>
                                                    <div class="flex flex-row justify-between items-center hover:bg-[#F5EBFD] px-4 py-3">
                                                        <div class="flex flex-row">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="26" width="26" class="mx-auto mr-4" fill="#303030">
                                                                <path d="M368,168H272V104H448a24.027,24.027,0,0,0,24-24V16H440V72H264a24.027,24.027,0,0,0-24,24v72H144A128.145,128.145,0,0,0,16,296V396.953A91.15,91.15,0,0,0,107.047,488h1.8A90.807,90.807,0,0,0,178.8,455.24l52.7-63.24h48.628l52.666,68.465A91.046,91.046,0,0,0,496,404.953V296A128.145,128.145,0,0,0,368,168Zm96,236.953a59.047,59.047,0,0,1-105.849,36L295.878,360H216.506l-62.294,74.754A58.893,58.893,0,0,1,108.85,456h-1.8A59.113,59.113,0,0,1,48,396.953V296a96.108,96.108,0,0,1,96-96H368a96.108,96.108,0,0,1,96,96Z" class="ci-primary"></path>
                                                                <rect width="32" height="32" x="360" y="248" class="ci-primary"></rect>
                                                                <rect width="32" height="32" x="360" y="328" class="ci-primary"></rect>
                                                                <rect width="32" height="32" x="320" y="288" class="ci-primary"></rect>
                                                                <rect width="32" height="32" x="400" y="288" class="ci-primary"></rect>
                                                                <polygon points="152 248 120 248 120 288 80 288 80 320 120 320 120 360 152 360 152 320 192 320 192 288 152 288 152 248" class="ci-primary"></polygon>
                                                            </svg>
                                                            <p>Playing</p>
                                                        </div>
                                                        <p class="text-sm text-purpleggz2">Remove</p>
                                                    </div>
                                                </li>
                                                <li class="cursor-default">
                                                    <a class="block font-lato bg-[#F7F7F7] px-4 py-2 text-black-text pointer-events-none">Add the item also to:</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="block px-4 py-3 hover:bg-[#F5EBFD]">Digital Edition</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="block px-4 py-3 hover:bg-[#F5EBFD]">All</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="table-footer bg-white mt-1 border-t-0.5 border-gray-200 py-4 flex items-center justify-between">
                            <div class="pagination pl-4">
                                <button class="px-4 py-2 rounded-l hover:bg-gray-100">
                                    <div class="flex flex-row items-center">
                                        <svg fill="none" width="15" height="15" stroke="#969696" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                                        </svg>
                                        <p class="pl-1 text-disabled-gray font-lato font-bold">Previous page</p>
                                    </div>
                                </button>
                            </div>
                            <div class="page-info text-sm">
                                <div class="space-x-2 flex flex-row items-center">
                                    <p class="text-disabled-gray text-lg font-lato font-bold">1</p>
                                    <p class="text-purpleggz2 text-lg font-lato font-bold">2</p>
                                    <p class="text-purpleggz2 text-lg font-lato font-bold">3</p>
                                    <p class="text-disabled-gray text-xl font-lato font-bold">...</p>
                                    <p class="text-purpleggz2 text-lg font-lato font-bold">13</p>
                                    <p class="text-purpleggz2 text-lg font-lato font-bold">14</p>
                                    <p class="text-purpleggz2 text-lg font-lato font-bold">15</p>
                                </div>
                            </div>
                            <div class="pagination pr-4">
                                <button class="px-4 py-2 rounded hover:bg-gray-100">
                                    <div class="flex flex-row items-center">
                                        <p class="pl-1 text-purpleggz font-lato font-bold">Next page</p>
                                        <svg fill="none" width="15" height="15" stroke="#7D00E2" stroke-width="3" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                                        </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-40">
                </div>
            </div>
        </div>
    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
  // Get all checkboxes with the "select-row" class
  const checkboxes = document.querySelectorAll('.select-row');
  const headerCheckbox = document.querySelector('#headerCheckbox');
  const multipleSelectionButton = document.querySelector('#multipleSelection');

  headerCheckbox.addEventListener('change', function() {
    checkboxes.forEach(checkbox => {
      checkbox.checked = headerCheckbox.checked;
      toggleRowBackground(checkbox);
    });
    checkMultipleSelection();
  });

  // Add event listeners to the checkboxes
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', function() {
      toggleRowBackground(this);
      checkMultipleSelection();
    });
  });

  function toggleRowBackground(checkbox) {
  // Get the parent row element
  const row = checkbox.closest('tr');

  // Toggle the background color based on the checkbox state
  if (checkbox.checked) {
    row.style.backgroundColor = '#EAD6FA'; // Change to the desired background color when checked
  } else {
    row.style.backgroundColor = ''; // Reset the background color when unchecked
  }
}

function checkMultipleSelection() {
  const checkboxes = document.querySelectorAll('.select-row');
  const multipleSelectionButton = document.querySelector('#multipleSelection');
  const svgIcon = multipleSelectionButton.querySelector('svg');
  let selectedCount = 0;

  checkboxes.forEach(checkbox => {
    if (checkbox.checked) {
      selectedCount++;
    }
  });

  if (selectedCount > 1) {
    multipleSelectionButton.style.backgroundColor = '#7D00E2'; // Change to the desired background color when multiple rows are selected
    svgIcon.style.fill = 'white'; // Change the SVG color to white
    multipleSelectionButton.disabled = false; // Enable the button
  } else {
    multipleSelectionButton.style.backgroundColor = ''; // Reset the background color when not multiple rows are selected
    svgIcon.style.fill = ''; // Reset the SVG color
    multipleSelectionButton.disabled = true; // Disable the button
  }
}

  // Get all the grid items
  const gridItems = document.querySelectorAll('#gallery > div');

  // Add a click event listener for each grid item
  gridItems.forEach((item, index) => {
    item.addEventListener('click', () => {
      // Hide the gallery
      document.getElementById('gallery').classList.add('hidden');

      // Show the content section
      document.getElementById('content-section').classList.remove('hidden');

      // TODO: Update the table data based on the clicked grid item
      document.getElementById('table-placeholder').innerText = `Table data for item ${index + 1} will be populated here`;
    });
  });

  // Get the back button
  const backButton = document.querySelector('.back-button');

  // Add a click event listener for the back button
  backButton.addEventListener('click', () => {
    // Hide the content section
    document.getElementById('content-section').classList.add('hidden');

    // Show the gallery
    document.getElementById('gallery').classList.remove('hidden');
  });
});
</script>

{% endblock %}