<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#a535ff">
        <meta name="msapplication-TileColor" content="#a535ff">
        <meta name="theme-color" content="#a535ff">

        <title>
            {% block titleContent %}
                {% if block('title') is defined %}
                    {{ block('title') }} | Gengemz
                {% else %}
                    Gengemz
                {% endif %}
            {% endblock %}
        </title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body class="{% if bodyBackgroundClass is defined %}{{ bodyBackgroundClass }}{% else %}bg-main-bg{% endif %}">
        <div class="{% if whithoutFooter is defined %}block{% else %}flex flex-col h-screen justify-between{% endif %}">
            <main class="mb-auto">
                {% if whithoutHeader is not defined %}
                <header>
                    {% include "customer/layout/_header.html.twig" %}
                </header>
                {% endif %}

                {% block content %}{% endblock %}
            </main>

            {% if whithoutFooter is not defined %}
            <footer>
                {% include "customer/layout/_footer.html.twig" %}
            </footer>
            {% endif %}
        </div>
    </body>

    {% block js %}{% endblock %}
</html>
