{% extends 'customer/base.html.twig' %}

{% block title %}Explore{% endblock %}

{% block content %}
{#<section class="px-6 md:px-0 container mx-auto">#}
{#    <div id="default-carousel" class="relative py-8" data-carousel="slide">#}
{#        <!-- Carousel wrapper -->#}
{#        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">#}
{#            <!-- Item 1 -->#}
{#            <div class="hidden duration-700 ease-in-out" data-carousel-item>#}
{#                <img src="https://static1.thegamerimages.com/wordpress/wp-content/uploads/2022/03/MarioKart8.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">#}
{#            </div>#}
{#            <!-- Item 2 -->#}
{#            <div class="hidden duration-700 ease-in-out" data-carousel-item>#}
{#                <img src="https://images.nintendolife.com/0693f61878832/dkc-banner.large.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">#}
{#            </div>#}
{#            <!-- Item 3 -->#}
{#            <div class="hidden duration-700 ease-in-out" data-carousel-item>#}
{#                <img src="https://pbs.twimg.com/media/FIGQuSFWQAIYaHy.jpg:large" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">#}
{#            </div>#}
{#            <!-- Item 4 -->#}
{#            <div class="hidden duration-700 ease-in-out" data-carousel-item>#}
{#                <img src="https://www.retroalba.es/wp-content/uploads/2016/01/orig_bubblebobble.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">#}
{#            </div>#}
{#            <!-- Item 5 -->#}
{#            <div class="hidden duration-700 ease-in-out" data-carousel-item>#}
{#                <img src="https://i.etsystatic.com/12076554/r/il/7f9266/3055022753/il_570xN.3055022753_ha74.jpg" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">#}
{#            </div>#}
{#        </div>#}
{#        <!-- Slider indicators -->#}
{#        <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">#}
{#            <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>#}
{#            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>#}
{#            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>#}
{#            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>#}
{#            <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>#}
{#        </div>#}
{#        <!-- Slider controls -->#}
{#        <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>#}
{#        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">#}
{#            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>#}
{#            <span class="sr-only">Previous</span>#}
{#        </span>#}
{#        </button>#}
{#        <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>#}
{#        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">#}
{#            <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>#}
{#            <span class="sr-only">Next</span>#}
{#        </span>#}
{#        </button>#}
{#    </div>#}

{#    <div class="py-8">#}
{#        <h1 class="font-ubuntu text-xl font-bold">Explore</h1>#}
{#    </div>#}

{#    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">#}
{#        <a href="#">#}
{#            <img class="rounded-t-lg" src="https://static1.thegamerimages.com/wordpress/wp-content/uploads/2022/03/MarioKart8.png" alt="" />#}
{#        </a>#}
{#        <div class="p-5">#}
{#            <a href="#">#}
{#                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Mario Kart Nintendo DS</h5>#}
{#            </a>#}
{#            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>#}
{#            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">#}
{#                Read more#}
{#                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
{#</section>#}

    <div class="container mx-auto mt-8 px-4">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% set list_type_data = constant('App\\Entity\\ListType::LIST_TYPE_DATA_INDEXED_BY_ID') %}
        {% for edition in editions %}
            <p>{{ edition.name }}</p>
            {% for list_type_id, list_type in list_type_data %}
                <div class="flex items-center space-x-3">
                    <span>{{ list_type['name'] }}</span>
                    {% if user_lists|filter(user_list => user_list.edition.id == edition.id and user_list.type.id == list_type_id)|length == 0 %}
                        <form action="{{ path('customer_lists_add_edition', {edition: edition.id}) }}" method="post">
                            <input type="hidden" value="{{ list_type_id }}" name="listTypeId">
                            <button type="submit" class="border p-1.5 rounded bg-green-100 border:green-200 text-xs">Add to list</button>
                        </form>
                    {% else %}
                        <form action="{{ path('customer_lists_remove_edition', {edition: edition.id}) }}" method="post">
                            <input type="hidden" value="{{ list_type_id }}" name="listTypeId">
                            <button type="submit" class="border p-1.5 rounded bg-red-100 border:red-200 text-xs">Remove from the list</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
            </form>
        {% endfor %}
    </div>

{% endblock %}