{% extends 'customer/base.html.twig' %}

{% set whithoutHeader = true %}
{% set whithoutFooter = true %}
{% set bodyBackgroundClass = 'bg-[#F7F7F7]' %}

{% block title %}Add a bit of flair{% endblock %}

{% block content %}
    <div class="container mx-auto p-10">
        <p class="font-lato text-3xl md:text-4xl lg:text-4xl font-extrabold text-[#C4C4C4] tracking-wider">3/3</p>
        <div class="my-4 sm:w-[34rem] mx-auto">
            <p class="font-ubuntu text-center text-3xl md:text-4xl lg:text-4xl font-lato font-bold text-purpleggz">Add a bit of flair</p>
            <p class="mt-2.5 mb-6 md:text-lg text-center font-lato font-bold text-blacktext">A picture is worth more than a thousand words</p>

            {{ form_start(on_boarding_step_three_form) }}
            {{ form_row(on_boarding_step_three_form.profilePic) }}

            <div class="mt-10 mx-auto flex flex-col items-start space-y-6">
                <figure id="profile-pic-img" class="rounded-full bg-white w-44 h-44 mx-auto flex items-center justify-center focus:outline-none hover:ring-2 focus:ring-2 ring-[#C6C6C6]">
                    <img src="{{ asset('img/preview_profile_pic.png') }}" alt="" class="w-12 h-12 object-cover">
                </figure>

                <div class="w-full flex flex-col items-center space-y-1.5">
                    <button type="button" id="add-profile-pic-btn" class="text-white bg-[#7D00E2] hover:bg-[#6B00C1] focus:bg-[#6B00C1] font-bold font-ubuntu rounded-lg py-2.5 px-4 text-sm md:text-base focus:outline-none">
                        ADD PROFILE PIC
                    </button>
                    <p class="w-full text-[12px] md:text-[14px] font-semibold text-center">
                        Max size: 10 MB<br>PNG or JPG/JPEG only
                    </p>
                </div>

                <p class="pt-4 font-bold font-lato md:text-lg dark:text-gray-300 text-center">Lastly, please choose who you will be sharing your content with (you will be able to change this again later, if you wish)</p>
                <div class="w-[18rem] mx-auto flex flex-col">
                    {{ form_row(on_boarding_step_three_form.shareContent) }}
                    <div class="mt-5 mb-2 ">
                        {{ form_widget(on_boarding_step_three_form.submit) }}
                    </div>
                    <a href="{{ path('customer_skip_onboarding') }}" class="px-4 font-ubuntu font-bold text-purpleggz mx-auto text-sm md:text-base focus:outline-none hover:underline focus:underline">SKIP THIS STEP</a>
                </div>
            </div>

            {{ form_end(on_boarding_step_three_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/app/js/customer/user/onboarding/step-three.js') }}" defer></script>
{% endblock %}


