{% extends 'customer/base.html.twig' %}

{% set whithoutHeader = true %}
{% set whithoutFooter = true %}
{% set bodyBackgroundClass = 'bg-[#F7F7F7]' %}

{% block title %}Brief policy review{% endblock %}

{% block content %}
    <div class="container mx-auto p-10">
        <p class="font-lato text-4xl font-extrabold text-[#C4C4C4] tracking-wider">2/3</p>
        <div class="my-4">
            <p class="font-ubuntu text-center text-4xl font-lato font-bold text-purpleggz">Brief policy review</p>
            <p class="mt-2.5 mb-6 text-center font-lato font-bold text-blacktext">In order to use our site, we need to confirm your age and that you agree to comply with our policies, terms and conditions.</p>

            {{ form_start(on_boarding_step_two_form) }}
            <div class="sm:w-[18rem] mt-10 mx-auto text-center">
                <div class="flex items-baseline justify-center font-ubuntu font-bold">
                    {{ form_label(on_boarding_step_two_form.birthdate, null, {'label_attr': {'class': 'flex mb-5 font-ubuntu justify-center text-2xl font-bold text-purpleggz'}}) }}
                    <span class="pl-2.5 text-xs uppercase text-gray-600">Required</span>
                </div>
                {{ form_widget(on_boarding_step_two_form.birthdate) }}
            </div>

            <div class="sm:w-[34rem] mt-10 mx-auto flex flex-col items-start space-y-1">
                <label class="ml-[26px]" style="text-indent: -26px">
                    <input type="checkbox" id="on_boarding_step_two_terms_and_conditions" class="appearance-none checked:bg-purpleggz rounded focus:outline-none ring-0 focus:ring-0" />
                    <span class="font font-ubuntu ml-1.5">I confirm have read and accept the <a href="#" class="text-purpleggz font-bold hover:underline focus:underline">Terms and Conditions</a> of the site</span>
                </label>
                <label class="ml-[26px]" style="text-indent: -26px">
                    <input type="checkbox" id="on_boarding_step_two_policy_privacy" class="appearance-none checked:bg-purpleggz rounded focus:outline-none ring-0 focus:ring-0" />
                    <span class="font font-ubuntu ml-1.5">I confirm have read and accept the <a href="#" class="text-purpleggz font-bold hover:underline focus:underline">Privacy Policy</a> of the site</span>
                </label>
                <div class="pl-6 py-2.5 text-gray-400 text-sm">
                    <p><strong>Data we store:</strong> Mes ac ante ipsum primis in faucibus. Etiam sed laoreet diam, a faucibus</p>
                    <p><strong>Who we share it with:</strong> Etiam sed laoreet diam, a faucibus</p>
                    <p><strong>Purpose:</strong> Etiam sed laoreet diam, a faucibus</p>
                </div>
                <label class="ml-[26px]" style="text-indent: -26px">
                    <input type="checkbox" id="on_boarding_step_two_email_communications" class="appearance-none checked:bg-purpleggz rounded focus:outline-none ring-0 focus:ring-0" />
                    <span class="font font-ubuntu ml-1.5">I agree to receive Gengemz’s e-mail communications about special promotions, offers or Marketing campaigns</span>
                </label>
                <label class="ml-[26px]" style="text-indent: -26px">
                    <input type="checkbox" id="on_boarding_step_two_official_items" class="appearance-none checked:bg-purpleggz rounded focus:outline-none ring-0 focus:ring-0" />
                    <span class="font font-ubuntu ml-1.5">I acknowledge that only original and official items can be traded in this site. Reproductions, fake or counterfeit items are not accepted or tolerated.</span>
                </label>
                <div class="py-5 flex justify-center w-full">
                    <button type="button" id="accept_all" class="font-ubuntu font-bold text-purpleggz hover:underline focus:underline text-lg focus:outline-none">Accept all</button>
                </div>
                {{ form_widget(on_boarding_step_two_form.submit) }}

            </div>
            {{ form_end(on_boarding_step_two_form) }}
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/app/styles/customer/onboarding/step-two.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/app/js/customer/user/onboarding/step-two.js') }}" defer></script>
{% endblock %}