<nav class="bg-purpleggz px-4 py-4">
    <div class="container mx-auto">
        <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-6">
                <a href="{{ path('customer_home') }}" class="flex items-center hover:scale-x-105 focus:scale-x-105 duration-150 ease-in-out focus:outline-none">
                    <img src="{{ asset('build/app/img/icon_primary.png') }}" class="h-7 mr-2" alt="gengemz Logo" />
                    <div class="ml-1 flex items-center space-x-0.5">
                        <img src="{{ asset('build/app/img/logo_g.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_e.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_n.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_g.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_e.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_m.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                        <img src="{{ asset('build/app/img/logo_z.svg') }}" class="h-5 w-auto hover:rotate-6 duration-150 ease-in-out" alt="logo" />
                    </div>
                </a>
                {% include 'customer/layout/header/_main_menu.html.twig' %}
            </div>
            <div class="flex-1 flex items-center justify-end md:justify-between space-x-4">
                <input type="search" id="search-dropdown" class="hidden md:block flex-1 mx-4 block py-1.5 px-4 text-sm text-gray-900 bg-gray-50 rounded-lg border-l-gray-50 border-l-2 border border-gray-300 focus:border-blue-500 dark:bg-gray-700 dark:border-l-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search Games, Consoles, Accessories, Series..." required>
                <div class="flex items-center space-x-3">
                    {% if app.user %}
                        <img src="{{ asset('build/app/img/bell.svg') }}" alt="Notifications" data-dropdown-toggle="dropdown-notifications">
                        <div id="dropdown-notifications" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-auto">
                            {% include 'customer/layout/header/_notifications_dropdown.html.twig' %}
                        </div>
                        <img src="{{ asset('build/app/img/cart.svg') }}" alt="Cart">
                        <img src="{{ asset(app.user.getProfilePicPath) }}" alt="Account" data-dropdown-toggle="dropdown-account" class="rounded-full w-9 h-9 object-cover bg-white rounded-full p-[1px]">
                        <div id="dropdown-account" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-60">
                            {% include 'customer/layout/header/_user_dropdown.html.twig' %}
                        </div>
                    {% else %}
                        <a href="{{ path('customer_sign_up') }}" class="font-bold bg-[#C7FD69] hover:bg-[#B3FF2E] focus:bg-[#B3FF2E] focus:outline-none focus:ring-0 font-ubuntu rounded-lg py-1 px-3 text-center">Sign up now</a>
                        <a href="{{ path('customer_sign_in') }}" class="font-bold bg-transparent text-gray-200 hover:text-white focus:text-white focus:outline-none focus:ring-0 font-ubuntu py-1 px-3 text-center">Sign in</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</nav>
