<div id="content-account-settings" class="tab-content">
    <h3 class="font-ubuntu font-medium text-xl text-black-text border-b-2 border-[#F1F1F1] pb-1.5 mb-2">Account information</h3>
    <div class="my-6 flex flex-col space-y-3">
        {{ form_start(form_nickname) }}
        {{ form_label(form_nickname.nickname) }}
        <div class="flex flex-row items-center">
            {{ form_widget(form_nickname.nickname) }}
            <div class="flex items-center space-x-3">
                {{ form_widget(form_nickname.submit) }}
                <button id="account_settings_nickname_button_cancel" class="hidden font-lato text-purpleggz2 hover:text-purpleggz focus:text-purpleggz focus:outline-none">Cancel</button>
            </div>
        </div>
        <span id="nickname_info" class="text-red-500 text-sm"></span>
        {{ form_end(form_nickname) }}

        {{ form_start(form_email) }}
        <div id="email-container">
            {{ form_label(form_email.email) }}
            <div>
                <div class="flex flex-row items-center">
                    {{ form_widget(form_email.email) }}
                    <div class="flex items-center space-x-3">
                        {{ form_widget(form_email.submit,
                            {
                                'attr': {
                                'disabled': user.emailRequest is defined and user.emailRequest is not empty,
                                'style': user.emailRequest is defined and user.emailRequest is not empty ? 'opacity: 0.5' : ''
                            }
                            })
                        }}
                        <button id="account_settings_email_button_cancel" class="hidden font-lato text-purpleggz2 hover:text-purpleggz focus:text-purpleggz focus:outline-none">Cancel</button>
                    </div>
                </div>
                <span id="email_info" class="text-red-500 text-sm"></span>
            </div>
            {% if user.emailRequest %}
                <div class="my-3 flex flex-col space-y-1 text-sm">
                    <p class="text-purpleggz2 text-base">Change requested to {{ user.emailRequest }}</p>
                    <p class="pt-1.5">A request to change the email address associated with your account has been initiated. To complete this process, please follow the instructions below:</p>
                    <ul class="list-disc list-inside">
                        <li>Check your email inbox for a message from GGZ.</li>
                        <li>Open the email and click on the confirmation link provided.</li>
                    </ul>
                    {% set deadline = user.dateEmailRequest|date_modify("+7 days") %}
                    <p class="font-medium pt-1.5">You must confirm before {{ deadline|date('Y-m-d H:i') }}.</p>
                    <p>If you did not initiate this request or if you have any concerns, please <a href="#" class="text-purpleggz2 hover:text-purpleggz focus:text-purpleggz focus:outline-none">contact</a> our support team immediately.</p>
                    <div class="pt-3">
                        <button data-modal-target="cancel-email-request-modal" data-modal-toggle="cancel-email-request-modal" type="button"
                                class="py-1.5 px-3 text-base font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring focus:ring-gray-200"
                        >
                            Cancel request
                        </button>
                        {% include "customer/user/settings/modal/cancel_email_request_modal.html.twig" %}
                    </div>
                </div>
            {% endif %}
        </div>
        {{ form_end(form_email) }}
    </div>

    <div class="my-6 flex flex-col space-y-3">
        <h3 class="font-ubuntu font-medium text-xl text-black-text border-b-2 border-[#F1F1F1] pb-1.5 my-2">Password</h3>
        <div>
            <button data-modal-target="change-password-modal" data-modal-toggle="change-password-modal" type="button"
                    class="py-1.5 px-3 text-base font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring focus:ring-gray-200"
            >
                Change password
            </button>
        </div>
        {% include "customer/user/settings/modal/change_password_modal.html.twig" %}
    </div>

    <h3 class="font-ubuntu font-medium text-xl text-black-text border-b-2 border-[#F1F1F1] pb-1.5 my-2">Profile picture</h3>
        <div class="flex flex-row items-center mb-6">
        <img src="{{ user.profilePicPath }}" class="rounded-full object-cover flex-initial mt-2 w-40 h-40">
        <div class="flex flex-col pl-4 place-items-center">
            <button type="button" class="ml-1 py-1.5 px-2 mr-2 mb-2 mb-6 mt-2 text-md font-ubuntu font-bold text-purpleggz text-gray-900 focus:outline-none bg-white rounded-lg border-2 border-gray-200 hover:bg-[#F5EBFD] focus:z-10 focus:ring-4 focus:ring-gray-200">
                <div class="flex flex-row items-center justify-center">
                    <p class="pl-1 font-ubuntu text-md">Change</p>
                </div>
            </button>
            <p class="font-lato font-medium text-md text-disabled-gray">Max size: 10 MB</p>
            <p class="font-lato font-medium text-md text-disabled-gray">PNG or JPG/JPEG only</p>
        </div>
    </div>

    <h3 class="font-ubuntu font-medium text-xl text-black-text border-b-2 border-[#F1F1F1] pb-1.5 my-2">Date of birth</h3>
        <div class="flex flex-row items-center mb-20">
        <input type="date" id="dateofbirth" class="text-black p-2.5 pl-4 font-ubuntu bg-gray-50 border-b-2 border-gray-200 rounded-t-md mt-2 mb-2 bg-opacity-25 focus:outline-none focus:ring-2 focus:ring-purpleggz2 focus:bg-[#FAF5FE]" value="1993-06-26" disabled>
        <p class="font-lato text-md text-purpleggz2 ml-4 edit">Edit</p>
    </div>
</div>